* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 960px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
/* mobile **************************/
header {
    background-color: #333333;
    display: grid;  
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#course-title {
    font-size: 1rem;
    padding: 15px;
    font-weight: 50;
    margin: 0 auto;
    color: #fff;
}

nav,footer {
    background-color: #1d4d72;
}

footer,nav a,.card h3{
    padding: 1rem;
}


nav ul,li {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    text-decoration:overline;

}

.active {
    color: yellow;
}

h1 {
    text-align: center;
    margin: 1.5rem;
}

main{
    display: flex;
    margin-top: 10px;
}

main section{
    flex: 1 1 100%;
}

.card{
    border: #E0E0E0 solid 1px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 5px #bbb;
    margin: 5px;
}

.card p,li{
    padding: 10px;
}

.card h2{
    background-color: #1d4d72;
    color: #fff;
    text-align: center;
}

.card h3{
    text-align: center;
    text-decoration: underline;
    margin-top: 1.5rem;
}

.card:nth-child(2){
    max-width:30%
}

.card img{
    float: left;
    margin: 15px;
    box-shadow: 0 5px 5px #bbb;
    border-radius: 4px;
    padding: 5px;
}

.text-container{
    margin: 20px;
}

footer{
    color:#fff;
    text-align: center;
    margin-top: 30px;
}
/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}