.navigation { 
    display: flex;
    background-color: black;
    align-items: center;
   }
  
  .navigation a{
      display: block;
      flex: 1 1 100%;
      color: #eee;
      padding: 0.75rem;
      text-decoration: none;
      text-align: center;
  } 