/* large view navigation ************************************/
@media (min-width: 37.5em) {

    :root {
        --purple: #3C0A64;
        --white: #ffffff;
        --black: #000;
      }
      
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
	
	nav a{
		display: block;
		color: var(--white);
	}
	
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}
	
	.stuff {
		margin: 1rem auto;
	}
}