body{
    max-width: 640px;
    margin: 0 auto;
    color: black;
}

h2{
    font-weight: 200;
    padding: 7px;
}

header,main,footer{
    background-color: #ABBBEE;
    margin-bottom: 1rem;
    padding: 5px;
}

section{
    background-color: white;
    border:#ABBBEE solid 3px;
}

section p{
    padding: 5px;
}
